<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create post</title>
</head>
<body>

<form method="post" enctype="multipart/form-data" action="/create/article">
    <input name="article_author" placeholder="Article author" type="text">
    <input name="article_title" placeholder="Article title" type="text">
    <input name="article_text" placeholder="Article description" type="text">
    <input name="article_tags" placeholder="Article tags" type="text">
<!--    <input type="file" name="article_image">-->

    <button>Создать статью</button>
</form>

</body>
</html>