<!DOCTYPE HTML>
<html>
	<head>
		<title>Travelers blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">Travelers blog</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/create/article">Create post</a></li>
					<li><a href="/authorization">Authorization</a></li>
					<li><a href="/create/user">Registration</a></li>
					<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>


		<section id="search_for_tags">
			<div id="tags">
				{% for i in range(articles | length) %}
					{% for j in range(articles[i].tags | length) %}
						<a href="/article/{{ articles[i].tags[j] }}">{{ articles[i].tags[j] }}</a>
					{% endfor %}
				{% endfor %}
			</div>
		</section>


		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						{% for i in range(articles_by_tag | length) %}
						<div>
							<div class="box">
								<div class="image fit">
									<img src="static/images/slide01.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>{{ articles_by_tag[i].author }}</p>
										<h2>{{ articles_by_tag[i].name }}</h2>
									</header>
									<span class="view-count">Number of views: {{ articles_by_tag[i].views_count }}</span>
									<p>{{ articles_by_tag[i].get_short_description() }}</p>
									{% for j in range(articles_by_tag[i].tags | length) %}
											<a href="/article/{{ articles[i].tags[j] }}">{{ articles_by_tag[i].tags[j] }}</a>
									{% endfor %}
									<footer class="align-center">
										<a href="/article/{{ articles[i].id }}" class="button alt">Read More</a>
									</footer>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<a name="contacts"></a>
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>